---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Bienvenue sur notre site de veille technologique dédié à l'authentification"
	pubDate={new Date('Jun 08 2023')}
	updatedDate={new Date('Jun 11 2023')}
	heroImage="/placeholder-about.jpg"
>
	<p>
		Bienvenue sur notre site de veille technologique dédié à l'authentification ! Ici, vous trouverez les dernières informations, 
		tendances et développements liés à l'authentification, ainsi que des articles et des ressources pertinents pour rester à jour 
		dans ce domaine en constante évolution.

		Notre site utilise l'API NewsAPI pour vous fournir des informations en temps réel provenant de différentes sources. 
		L'API NewsAPI est un service puissant qui agrège les actualités de milliers de sources du monde entier, vous offrant 
		ainsi une couverture complète de l'actualité liée à l'authentification.

		Grâce à l'intégration de l'API NewsAPI, notre site vous permet de consulter des articles, des blogs, des études de cas et des 
		analyses provenant de diverses sources de confiance. Vous pouvez filtrer les résultats par mots-clés, par date, par langue ou 
		par source spécifique, pour obtenir les informations les plus pertinentes pour vos besoins.
	</p>
</Layout>
